 # Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.next/app-build-manifest.json
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/package.json
.next/trace
.next/transform.js
.next/transform.js.map
.next/build/chunks/\[root-of-the-server]__8d1c356d._.js
.next/build/chunks/\[root-of-the-server]__8d1c356d._.js.map
.next/build/chunks/\[root-of-the-server]__23dcc81a._.js
.next/build/chunks/\[root-of-the-server]__23dcc81a._.js.map
.next/build/chunks/\[turbopack]_runtime.js
.next/build/chunks/\[turbopack]_runtime.js.map
.next/build/chunks/node_modules_b5d1def4._.js
.next/build/chunks/node_modules_b5d1def4._.js.map
.next/build/chunks/postcss_config_js_transform_ts_c2e3f562._.js
.next/build/chunks/postcss_config_js_transform_ts_c2e3f562._.js.map
.next/cache/.rscinfo
.next/cache/images/G--bNvR1EXUjhXh7E1Trhn3ptff3HqB827dOs0oYqmQ/60.1764477108303.I7Sou8u9v7Rqop4cC5yLBWBQ1rAXV5WxfHA2Ox7gDJ0.Vy8iNDBjMGItMTlhMDdjYTkzZWYi.webp
.next/server/app-paths-manifest.json
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/app/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.map
.next/server/app/favicon.ico/route.js
.next/server/app/favicon.ico/route.js.map
.next/server/app/favicon.ico/route/app-build-manifest.json
.next/server/app/favicon.ico/route/app-paths-manifest.json
.next/server/app/favicon.ico/route/build-manifest.json
.next/server/app/page/app-build-manifest.json
.next/server/app/page/app-paths-manifest.json
.next/server/app/page/build-manifest.json
.next/server/app/page/next-font-manifest.json
.next/server/app/page/react-loadable-manifest.json
.next/server/app/page/server-reference-manifest.json
.next/server/chunks/\[root-of-the-server]__48b32c58._.js
.next/server/chunks/\[root-of-the-server]__48b32c58._.js.map
.next/server/chunks/\[turbopack]_runtime.js
.next/server/chunks/\[turbopack]_runtime.js.map
.next/server/chunks/node_modules_next_229848ed._.js
.next/server/chunks/node_modules_next_229848ed._.js.map
.next/server/chunks/ssr/_2766182a._.js
.next/server/chunks/ssr/_2766182a._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__0a46983d._.js
.next/server/chunks/ssr/\[root-of-the-server]__0a46983d._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__4c58c055._.js
.next/server/chunks/ssr/\[root-of-the-server]__4c58c055._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__191af70a._.js
.next/server/chunks/ssr/\[root-of-the-server]__191af70a._.js.map
.next/server/chunks/ssr/\[root-of-the-server]__e7aaf2d6._.js
.next/server/chunks/ssr/\[root-of-the-server]__e7aaf2d6._.js.map
.next/server/chunks/ssr/\[turbopack]_runtime.js
.next/server/chunks/ssr/\[turbopack]_runtime.js.map
.next/server/chunks/ssr/node_modules_3da9b334._.js
.next/server/chunks/ssr/node_modules_3da9b334._.js.map
.next/server/chunks/ssr/node_modules_84bfc1e5._.js
.next/server/chunks/ssr/node_modules_84bfc1e5._.js.map
.next/server/chunks/ssr/node_modules_96715ba7._.js
.next/server/chunks/ssr/node_modules_96715ba7._.js.map
.next/server/chunks/ssr/node_modules_next_dist_0962b827._.js
.next/server/chunks/ssr/node_modules_next_dist_0962b827._.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_forbidden-error_ea7ea172.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_forbidden-error_ea7ea172.js.map
.next/server/chunks/ssr/node_modules_next_dist_client_components_unauthorized-error_c8949b27.js
.next/server/chunks/ssr/node_modules_next_dist_client_components_unauthorized-error_c8949b27.js.map
.next/server/chunks/ssr/src_app_a4430781._.js
.next/server/chunks/ssr/src_app_a4430781._.js.map
.next/static/chunks/_93808211._.js
.next/static/chunks/_93808211._.js.map
.next/static/chunks/_e69f0d32._.js
.next/static/chunks/\[next]_internal_font_google_amiko_1bcf2b04_module_css_f9ee138c._.single.css
.next/static/chunks/\[next]_internal_font_google_amiko_1bcf2b04_module_css_f9ee138c._.single.css.map
.next/static/chunks/\[next]_internal_font_google_krona_one_fb5fbd3f_module_css_f9ee138c._.single.css
.next/static/chunks/\[next]_internal_font_google_krona_one_fb5fbd3f_module_css_f9ee138c._.single.css.map
.next/static/chunks/\[root-of-the-server]__a246a88c._.css
.next/static/chunks/\[root-of-the-server]__a246a88c._.css.map
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_61dcf9ba._.js.map
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_66796270._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_fd44f5a4._.js
.next/static/chunks/\[turbopack]_browser_dev_hmr-client_hmr-client_ts_fd44f5a4._.js.map
.next/static/chunks/node_modules_@swc_helpers_cjs_00636ac3._.js
.next/static/chunks/node_modules_@swc_helpers_cjs_00636ac3._.js.map
.next/static/chunks/node_modules_next_b5793a6f._.js
.next/static/chunks/node_modules_next_b5793a6f._.js.map
.next/static/chunks/node_modules_next_dist_1a6ee436._.js
.next/static/chunks/node_modules_next_dist_1a6ee436._.js.map
.next/static/chunks/node_modules_next_dist_2ecbf5fa._.js
.next/static/chunks/node_modules_next_dist_2ecbf5fa._.js.map
.next/static/chunks/node_modules_next_dist_build_polyfills_polyfill-nomodule.js
.next/static/chunks/node_modules_next_dist_client_8f19e6fb._.js
.next/static/chunks/node_modules_next_dist_client_8f19e6fb._.js.map
.next/static/chunks/node_modules_next_dist_compiled_2ce9398a._.js
.next/static/chunks/node_modules_next_dist_compiled_2ce9398a._.js.map
.next/static/chunks/src_app_a36817e3._.js
.next/static/chunks/src_app_a36817e3._.js.map
.next/static/chunks/src_app_favicon_ico_mjs_8a7a8fdc._.js
.next/static/chunks/src_app_globals_css_f9ee138c._.single.css
.next/static/chunks/src_app_globals_css_f9ee138c._.single.css.map
.next/static/chunks/src_app_layout_tsx_c0237562._.js
.next/static/chunks/src_app_page_tsx_af4ec276._.js
.next/static/development/_buildManifest.js
.next/static/development/_clientMiddlewareManifest.json
.next/static/development/_ssgManifest.js
.next/static/media/favicon.bd8f81d0.ico
.next/static/media/jAnEgHdjHcjgfIb1ZcUyNoWg_8a0Ww-s.p.e254fb58.woff2
.next/static/media/jAnEgHdjHcjgfIb1ZcUyOIWg_8a0Wy2V-s.348aec13.woff2
.next/static/media/WwkdxPq1DFK04uIZXErCEIUiUto45NY-s.20b99dd2.woff2
.next/static/media/WwkdxPq1DFK04uIZXErDEIUiUto4-s.p.5daa3941.woff2
.next/static/media/WwkdxPq1DFK04uIZXErNEIUiUto45NY-s.6f94128a.woff2
.next/static/media/WwkQxPq1DFK04uqieV_uMogI-s.p.b3788da1.woff2
.next/static/media/WwkQxPq1DFK04uqjeV_uMogIaNM-s.2b13d2f0.woff2
.next/static/media/WwkQxPq1DFK04uqseV_uMogIaNM-s.7ab6c676.woff2
